@import "tailwindcss";
@source "hugo_stats.json";
@source "content";
@source "layouts";
@source "assets";
@source "themes";
@custom-variant dark (&:where(.dark, .dark *));


/* Set default styles */
html {
  background-color: #283618;
  @apply text-gray-50;
  --font-display: "Inter", sans-serif;

}

.card-body {
  @apply relative;
  background-color: #FBFAF8;
  @apply rounded-lg;
  @apply p-0.5;
  @apply shadow-lg;
  @apply hover:shadow-2xl;
  @apply transition;
}

.card-header {
  --font-display: "Inter", sans-serif;
  @apply text-base;
  @apply text-left;
  @apply font-semibold;
  @apply text-[#1A1A1A];
}

.cady-body {
  --font-display: "Inter", sans-serif;
  @apply text-sm;
  @apply text-left;
  @apply text-[#535050];
}

.card-price {
  --font-display: "Inter", sans-serif;
  @apply text-sm;
  @apply text-left;
  @apply font-bold;
  @apply text-[#535050];
}

.topping-card {
  background-color: #9E7047;
  border: 2px solid #FBFAF8;
  color: #FBFAF8;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: default;
  border-radius: 9px;
  justify-content: center;

 --font-display: "Inter", sans-serif
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}
