{{ define "main" }}
<div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
  
  <section id="home">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col lg:flex-row gap-8 lg:gap-20 justify-center">

        <div>
          <h2 class="site-title">Instagram Worthy Boba</h2>

            <p class="site-paragraph">
              Moshi Moshi Boba Cafe offers a vibrant blend of creative drinks, freshly made Taiyaki, and a whimsical
              ambiance that delights both locals and visitors.
            </p>

            <p class="site-paragraph">
              From creamy milk teas to colorful fruit blends, every drink is made to be as photogenic as it is delicious. 
              Our signature toppings and rotating seasonal specials make every visit a little different and always worth sharing.
            </p>
          </div>

        <div class="flex-shrink-0">
          <img src="/boba-shop/images/boba.png" alt="Boba Drink" class="mx-0 lg:w-full object-cover" />
        </div>

      </div>
    </div>
  </section>

</div>

<section id="about">
  <div class=" bg-[#875D43]">
    <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col justify-center lg:flex-row gap-11 lg:gap-20">
          <div class="flex-shrink-0">
            <img src="/boba-shop/images/photo.png" alt="photo of people drinking and posing"
              class="mx-0 lg:w-full object-cover" />
          </div>

          <div class="leading-relaxed text-base">

            <h2 class="site-subheading">A destination for those who appreciate unique
              flavors and cozy aesthetics</h2>
            <br>
            <p>
              Located at 2418 Spring Garden St, Moshi Moshi is a bright, colorful, and thoughtfully decorated space
              filled with cute backdrops, ideal for casual hangouts or photos with friends. The staff are known for 
              being friendly and attentive, enhancing the overall vibe of warmth and welcome.
            </p>
            <br>
            <p>
              Whether you're here to study, relax, or catch up over a sweet treat, Moshi Moshi creates the perfect 
              setting. Enjoy the comforting aroma of freshly made Taiyaki, sip on a handcrafted drink, and let our 
              cozy atmosphere turn any day into a little celebration.
            </p>
            <br>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<section id="drink-menu" class="relative">
  <div class=" bg-[#3A4726] lg:h-[904px]">
    <div class="overflow-x-scroll mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16 text-center">
      <h2 class="site-subheading">Our Drinks</h2>

      <div
        class="flex gap-8 py-7 text-xl whitespace-nowrap px-4 scrollbar-hide overflow-x-auto lg:justify-center lg:flex-wrap">
        <a href="#" data-category-link="specials" class="hover:underline hover:underline-offset-4">Specials</a>
        <a href="#" data-category-link="fruit-teas" class="hover:underline hover:underline-offset-4">Fruit Teas</a>
        <a href="#" data-category-link="special-teas" class="hover:underline hover:underline-offset-4">Special Teas</a>
        <a href="#" data-category-link="milk-teas" class="hover:underline hover:underline-offset-4">Milk Teas</a>
        <a href="#" data-category-link="moshis-milk-teas" class="hover:underline hover:underline-offset-4">Moshi’s Milk
          Teas</a>
        <a href="#" data-category-link="sparkling-yogurts" class="hover:underline hover:underline-offset-4">Sparkling
          Yogurts</a>
        <a href="#" data-category-link="redbull-series" class="hover:underline hover:underline-offset-4">Redbull
          Series</a>
        <a href="#" data-category-link="slow-dripped" class="hover:underline hover:underline-offset-4">Slow Dripped</a>
      </div>

      <div id="drinks">
        <div class="drink-section" data-category="specials">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Ichigo.png" alt="Ichigo" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Ichigo</h3>
                  <p class="cady-body">Passion fruit with jasmine tea with mango jelly and strawberry popping boba. </p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Fruit teas -->
        <div class="drink-section" data-category="fruit-teas">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Ichigo.png" alt="Ichigo" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Ichigo</h3>
                  <p class="cady-body">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

          </div>
        </div>


        <!-- Specials Teas-->
        <div class="drink-section" data-category="special-teas">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Ichigo.png" alt="Ichigo" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Ichigo</h3>
                  <p class="cady-body">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Sailor-moon.png" alt="Sailor Moon" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Sailor Moon</h3>
                  <p class="cady-body">Non-caffinated, sparkling mango and butterfly pea tea lemonade with mango jelly.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Red-Samurai.png" alt="Red Samurai" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Red Samurai</h3>
                  <p class="cady-body">Mixture of Strawberry and Lychee with Strawberry Jelly and Lychee Jelly.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Spirited-Away.png" alt="Spirited Away" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Spirited Away</h3>
                  <p class="cady-body">Mixture of Lychee and Cucumber with Lychee Jelly and Basil Seeds.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Red-Cosmo.png" alt="Red Cosmo" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Red Cosmo</h3>
                  <p class="cady-body">Dragonfruit slush with Green Tea, Marble Swirl, and Lychee Pop.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Monkey-Dluffy.png" alt="monkey d luffy" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Monkey D Luffy</h3>
                  <p class="cady-body">Mixture of Strawberry and Orange with Green Tea and Crystal Boba.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Charizard.png" alt="Charizard" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Charizard</h3>
                  <p class="cady-body">Mixture of Orange and Mango blended with vanilla ice cream. Topped with Strawberry Pop and Marble Swirl.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Yuzu-Peach.png" alt="Yuzu Peach" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Yuzu Peach</h3>
                  <p class="cady-body">Mixture of Yuzu and Peach with Jasmine Tea. Topped with Crystal Boba, Peach Bits.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Milk Teas -->
        <div class="drink-section" data-category="milk-teas">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Ichigo.png" alt="Ichigo" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Ichigo</h3>
                  <p class="cady-body">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- moshi milk teas -->
        <div class="drink-section" data-category="moshis-milk-teas">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Black-lava.png" alt="Black Lava" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Black Lava</h3>
                  <p class="cady-body">Fresh milk with brown sugar, creme brulee, and brown sugar boba.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Team-rocket.png" alt="Team-rocket" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Team Rocket</h3>
                  <p class="cady-body">Caffine free Taro milk tea, strawberry puree, boba, creme brulee.</p>
                  <p class="card-price">$7.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Oreo-twister.png" alt="Oreo twister" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Oreo Twister</h3>
                  <p class="cady-body">Classic milk tea with Oreo crumbs, marble swirl, and boba.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Strawberry-latte.png" alt="Strawberry Latte" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Strawberry Latte</h3>
                  <p class="cady-body">Housemade strawberry puree, fresh milk and boba.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Thai-green.png" alt="Thai Green Tea" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Thai Green Tea</h3>
                  <p class="cady-body">Thai style green tea with your choice of milk with boba.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Kuro-ube.png" alt="Kuro Ube" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Kuro Ube</h3>
                  <p class="cady-body">Ube mixed with black sesame with fresh milk and boba.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Thai-Phoon.png" alt="Thai-Phoon" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Thai-Phoon</h3>
                  <p class="cady-body">Thai tea frapp with Oreo. Topped with Grass Jelly and Milk Cap.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Purple-Cloud.png" alt="Purple cloud" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Purple Cloud</h3>
                  <p class="cady-body">Coconut milk tea with Taro drizzle and Boba.</p>
                  <p class="card-price">$7.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Hidden-Leaf.png" alt="Hidden Leaf" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Hidden Leaf</h3>
                  <p class="cady-body">Mixture of Coconut, Pandan, and matcha. Topped with Boba.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Cookie-Butter.png" alt="Cookie Butter" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Cookie Butter</h3>
                  <p class="cady-body">Biscoff milk tea. Topped with Boba and Whipped Cream.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- sparkling -->
        <div class="drink-section" data-category="sparkling-yogurts">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">


            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Lychee-Sparkling.png" alt="Lychee Sparkling" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Lychee Sparkling</h3>
                  <p class="cady-body">Lychee mixed with Green Tea. Topped with Lychee Pop and Lychee Jelly.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Strawberry-Sparkling.png" alt="Strawberry Sparkling" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Strawberry Sparkling</h3>
                  <p class="cady-body">Strawberry mixed with Green Tea. Topped with Strawberry Pop and Strawberry Jelly.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/Golden-Hour.png" alt="Golden Hour" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Golden Hour</h3>
                  <p class="cady-body">Yuzu mixed with Orange and Green Tea. Topped with Crystal Boba and Mango Jelly.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid">
                <img src="/boba-shop/images/One-Melon.png" alt="One in a Melon" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">One in a Melon</h3>
                  <p class="cady-body">Melon mixed Green Tea. Topped with Kiwi Pop and Lychee Jelly.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- redbull -->
        <div class="drink-section" data-category="redbull-series">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">
            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Ichigo.png" alt="Ichigo" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Ichigo</h3>
                  <p class="cady-body">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.</p>
                  <p class="card-price">$7.50</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Slow dripped -->
        <div class="drink-section" data-category="slow-dripped">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-left">

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Boba-brown.png" alt="Boba Brown Latte" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Boba Brown Latte</h3>
                  <p class="cady-body">Espresso with fresh milk, brown sugar, and boba.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Coconut-dumonde.png" alt="Coconut Du Monde" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Coconut Du Monde</h3>
                  <p class="cady-body">Coconut milk tea mixed with espresso, topped with coffee jelly.</p>
                  <p class="card-price">$7.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Captain-Crunch.png" alt="Captain Crunch" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Captain Crunch</h3>
                  <p class="cady-body">Coffee frapp taopped with Cinnamon Toast Crunch and Whipped Cream.</p>
                  <p class="card-price">$6.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Suit-Thai.png" alt="Suit and Thai" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Suit and Thai</h3>
                  <p class="cady-body">Thai style coffee with Half and Half topped with Boba.</p>
                  <p class="card-price">$7.75</p>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-grid"> <img src="/boba-shop/images/Salty-Viet.png" alt="Salty Viet" class="card-image"/>
                <div class="col-span-2">
                  <h3 class="card-header">Salty Viet</h3>
                  <p class="cady-body">Vietnamese style coffee with Coffee Jelly and Milk Cap.</p>
                  <p class="card-price">$7.75</p>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>
    </div>

</section>

<section id="taiyaki">
  <div class="bg-[#9E7047]">
    <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col justify-center lg:flex-row gap-11 lg:gap-20">
          <div class="flex-shrink-0">
            <img src="/boba-shop/images/taiyaki.png" alt="photo of people drinking and posing"
              class="mx-0 lg:w-full object-cover" />
          </div>

          <div class="leading-relaxed text-xl text-[#F3F0F0]">

            <h2 class="text-3xl font-medium text-center font-[Cormorant_Garamond]">Taiyaki</h2>
            <br>
            <p>
              Taiyaki are Japanese fish shaped waffles with your choice of sweet or savory filling. Made fresh
              to order,
              our taiyaki are golden and crisp on the outside with a warm, soft center.
            </p>
            <br>
            <p>
              Allow 10 - 15 minutes for preparation. Best enjoyed immediately for maximum crispiness.
            </p>
            <br>
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-5 text-left">
              <div class="topping-card">Red Bean</div>
              <div class="topping-card">Oreos</div>
              <div class="topping-card">Mozzarella</div>
              <div class="topping-card">custard</div>
              <div class="topping-card">Match Creme</div>
              <div class="topping-card">Classic Tea Creme</div>
              <div class="topping-card">Thai Tea Creme</div>
              <div class="topping-card">Nutella</div>
              <div class="topping-card">House Special</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>

<section id="gallery">
  <div class=" bg-[#E8E3D4]">
    <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16 text-center">
      <h2 class="site-subheading" style="color: #3B2A1C;">Gallery</h2>
      <div class="flex flex-col mt-8 gap-4">
        <div class="flex flex-col justify-center lg:flex-row gap-10 lg:gap-10">
          <div class="flex-shrink-0">
            <img src="/boba-shop/images/Moshi-table.png" alt="photo of people drinking and posing" class="mx-0 lg:w-full object-cover">
          </div>

          <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5">
            <img src="/boba-shop/images/moshi-drinks.png" alt="photo of people drinking and posing" class="lg:w-full object-cover" />
            <img src="/boba-shop/images/moshi-tables.png" alt="photo of people drinking and posing" class="lg:w-full object-cover" />
            <img src="/boba-shop/images/moshi-lounge.png" alt="photo of people drinking and posing" class="lg:w-full object-cover" />
            <img src="/boba-shop/images/moshi-line.png" alt="photo of people drinking and posing" class="lg:w-full object-cover" />
          </div>

        </div>
      </div>

    </div>
  </div>
</section>


<search id="location">
  <div class=" bg-[#283618]">
    <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col justify-center lg:flex-row gap-11 lg:gap-20">

          <div>

            <h2 class="site-subheading text-center">Location</h2>
            
            <p class="site-body">
              We are located at 2418 Spring Garden St, Greensboro, NC 27403, United States.
            </p>
           
            <p class="site-body">
              Hours: <br>
              Monday: Closed <br>
              Sunday, Tuesday - Thursday: 12:00 - 7:00 <br>
              Friday & Saturday: 12:00 - 8:00
            </p>

          </div>

          <div class="flex-shrink-0">
            <img src="/boba-shop/images/location photo.png" alt="photo of moshi moshi" class="mx-0 lg:w-full object-cover" />
          </div>
        </div>

      </div>
    </div>
  </div>
</search>




{{ end }}