{{ define "main" }}
<div class="mx-auto  max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
<section id="home">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col lg:flex-row gap-8 lg:gap-20 justify-center">

      <div class="leading-relaxed text-xl">

        <h2 class="text-8xl font-[Cormorant_Garamond] leading-tight">Instagram Worthy Boba</h2>
        <br>
        <div class="mx-5 my-10 leading-9 ">
          <p>
            Moshi Moshi Boba Cafe offers a vibrant blend of creative drinks, freshly made Taiyaki, and a whimsical
            ambiance that
            delights both locals and visitors.
          </p>
          <br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel mi libero. Vivamus cursus ipsum in
            massa dictum,
            sit amet elementum velit dapibus.

          </p>
          <br>
        </div>
      </div>

      <div class="flex-shrink-0">
        <img src="/boba-shop/images/boba.png" alt="Boba Drink" class="mx-0 lg:w-full object-cover" />
      </div>

    </div>
  </div>
</section>
</div>

<section id="about">
<div class=" bg-[#875D43]">
  <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col justify-center lg:flex-row gap-11 lg:gap-20">
        <div class="flex-shrink-0">
          <img src="/boba-shop/images/photo.png" alt="photo of people drinking and posing" class="mx-0 lg:w-full object-cover" />
        </div>

        <div class="leading-relaxed text-base">

          <h2 class="text-3xl font-medium font-[Cormorant_Garamond]">A destination for those who appreciate unique
            flavors and cozy aesthetics</h2>
          <br>
          <p>
            Located at 2418 Spring Garden St, Moshi Moshi is a bright, colorful, and thoughtfully decorated space filled
            with cute backdrops,
            ideal for casual hangouts or photos with friends. The staff are known for being friendly and attentive,
            enhancing the overall
            vibe of warmth and welcome.
          </p>
          <br>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel mi libero. Vivamus cursus ipsum in
            massa dictum, sit amet
            elementum velit dapibus. Nullam vitae commodo nibh. Suspendisse convallis dignissim neque quis lobortis. Sed
            venenatis ut
            risus sed volutpat.
          </p>
          <br>

        </div>
      </div>


    </div>
  </div>
</div>
</section>

<section id="drink-menu">
<div class=" bg-[#3A4726]">
  <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16 text-center">
    <h2 class="text-3xl font-medium font-[Cormorant_Garamond]">Our Drinks</h2>

    <div class="flex gap-8 py-7 text-xl justify-center flex-wrap">
      <a href="#" data-category-link="specials" class="hover:underline hover:underline-offset-4">Specials</a>
      <a href="#" data-category-link="fruit-teas" class="hover:underline hover:underline-offset-4">Fruit Teas</a>
      <a href="#" data-category-link="special-teas" class="hover:underline hover:underline-offset-4">Special Teas</a>
      <a href="#" data-category-link="milk-teas" class="hover:underline hover:underline-offset-4">Milk Teas</a>
      <a href="#" data-category-link="moshis-milk-teas" class="hover:underline hover:underline-offset-4">Moshi’s Milk
        Teas</a>
      <a href="#" data-category-link="sparkling-yogurts" class="hover:underline hover:underline-offset-4">Sparkling
        Yogurts</a>
      <a href="#" data-category-link="redbull-series" class="hover:underline hover:underline-offset-4">Redbull
        Series</a>
      <a href="#" data-category-link="slow-dripped" class="hover:underline hover:underline-offset-4">Slow Dripped</a>
    </div>

    <div id="drinks">

      <!-- Specials -->
      <div class="drink-section" data-category="specials">
        <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
          <div class="card-body">
            <div class="grid grid-cols-2"> <img src="/boba-shop/images/Ichigo.png" alt="Ichigo"
                class="h-full rounded-md group-hover:opacity-90 transition" />
              <div class="mt-3">
                <h3 class="card-header mt-2">Ichigo</h3>
                <p class="cady-body mt-2">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.
                </p>
                <p class="card-price mt-2">$7.50</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fruit teas -->
    <div class="drink-section" data-category="fruit-teas">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Ichigo.png" alt="Ichigo"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Ichigo</h3>
              <p class="cady-body mt-2">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.
              </p>
              <p class="card-price mt-2">$7.50</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Specials Teas-->
    <div class="drink-section" data-category="special-teas">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Ichigo.png" alt="Ichigo"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Ichigo</h3>
              <p class="cady-body mt-2">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.
              </p>
              <p class="card-price mt-2">$7.50</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Sailor-moon.png" alt="Sailor Moon"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Sailor Moon</h3>
              <p class="cady-body mt-2">Non-caffinated, sparkling mango and butterfly pea tea lemonade with mango jelly.
              </p>
              <p class="card-price mt-2">$7.50</p>
            </div>
          </div>
        </div>


        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Red-Samurai.png" alt="Red Samurai"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Red Samurai</h3>
              <p class="cady-body mt-2">Mixture of Strawberry and Lychee with Strawberry Jelly and Lychee Jelly.
              </p>
              <p class="card-price mt-2">$7.50</p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- Milk Teas -->
    <div class="drink-section" data-category="milk-teas">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Ichigo.png" alt="Ichigo"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Ichigo</h3>
              <p class="cady-body mt-2">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.
              </p>
              <p class="card-price mt-2">$7.50</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- moshi milk teas -->
    <div class="drink-section" data-category="moshis-milk-teas">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Black-lava.png" alt="Black Lava"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Black Lava (Brown Sugar Milk Tea)</h3>
              <p class="cady-body mt-2">Fresh milk with brown sugar, creme brulee, and brown sugar boba.
              </p>
              <p class="card-price mt-2">$6.75</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Team-rocket.png" alt="Team rocket"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Team Rocket</h3>
              <p class="cady-body mt-2">Caffine free Taro milk tea, strawberry puree, boba, creme brulee.
              </p>
              <p class="card-price mt-2">$7.75</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Oreo-twister.png" alt="Oreo twister"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Team Rocket</h3>
              <p class="cady-body mt-2">Classic milk tea with Oreo crumbs, marble swirl, and boba.
              </p>
              <p class="card-price mt-2">$6.75</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Strawberry-latte.png" alt="Strawberry Latte"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Strawberry Latte</h3>
              <p class="cady-body mt-2">Housemade strawberry puree, fresh milk and boba.
              </p>
              <p class="card-price mt-2">$6.75</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Thai-green.png" alt="Thai Green Tea"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Thai Green Tea</h3>
              <p class="cady-body mt-2">Thai style green tea with your choice of milk with boba.
              </p>
              <p class="card-price mt-2">$6.75</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Kuro-Ube.png" alt="Kuro Ube"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Kuro Ube</h3>
              <p class="cady-body mt-2">Ube mixed with black sesame with fresh milk and boba.
              </p>
              <p class="card-price mt-2">$7.50</p>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- sparkling -->
    <div class="drink-section" data-category="sparkling-yogurts">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Mango-yogurt.png" alt="Mango Yogurt"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Mango Yogurt</h3>
              <p class="cady-body mt-2">Sparkling mango green tea with yakult, mango popping boba, and mango jelly
              </p>
              <p class="card-price mt-2">$7.75</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- redbull -->
    <div class="drink-section" data-category="redbull-series">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Ichigo.png" alt="Ichigo"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Ichigo</h3>
              <p class="cady-body mt-2">Passion fruit with jasmine tea with mango jelly and strawberry popping boba.
              </p>
              <p class="card-price mt-2">$7.50</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slow dripped -->
    <div class="drink-section" data-category="slow-dripped">
      <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5 text-left">
        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Boba-brown.png" alt="Boba Brown Latte"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Boba Brown Latte</h3>
              <p class="cady-body mt-2">Espresso with fresh milk, brown sugar, and boba.
              </p>
              <p class="card-price mt-2">$6.75</p>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="grid grid-cols-2"> <img src="/boba-shop/images/Coconut-dumonde.png" alt="Coconut Du Monde"
              class="h-full rounded-md group-hover:opacity-90 transition" />
            <div class="mt-3">
              <h3 class="card-header mt-2">Coconut Du Monde</h3>
              <p class="cady-body mt-2">Coconut milk tea mixed with espresso, topped with coffee jelly.
              </p>
              <p class="card-price mt-2">$7.75</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>

  <section id="taiyaki">
  <div class="bg-[#9E7047]">
    <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col justify-center lg:flex-row gap-11 lg:gap-20">
          <div class="flex-shrink-0">
            <img src="/boba-shop/images/taiyaki.png" alt="photo of people drinking and posing"
              class="mx-0 lg:w-full object-cover" />
          </div>

          <div class="leading-relaxed text-xl text-[#F3F0F0]">

            <h2 class="text-3xl font-medium text-center font-[Cormorant_Garamond]">Taiyaki</h2>
            <br>
            <p>
              Taiyaki are Japanese fish shaped waffles with your choice of sweet or savory filling. Made fresh
              to order,
              our taiyaki are golden and crisp on the outside with a warm, soft center.
            </p>
            <br>
            <p>
              Allow 10 - 15 minutes for preparation. Best enjoyed immediately for maximum crispiness.
            </p>
            <br>
            <div class="grid grid-cols-3 sm:grid-cols-2 lg:grid-cols-3 gap-5 text-left">
              <div class="topping-card">Red Bean</div>
              <div class="topping-card">Oreos</div>
              <div class="topping-card">Mozzarella</div>
              <div class="topping-card">custard</div>
              <div class="topping-card">Match Creme</div>
              <div class="topping-card">Classic Tea Creme</div>
              <div class="topping-card">Thai Tea Creme</div>
              <div class="topping-card">Nutella</div>
              <div class="topping-card">House Special</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</section>

<section id="gallery">
<div class=" bg-[#E8E3D4]">
  <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16 text-center">
    <h2 class="text-3xl font-medium font-[Cormorant_Garamond]" style="color: #3B2A1C;">Gallery</h2>
    <div class="flex flex-col mt-8 gap-4">
      <div class="flex flex-col justify-center lg:flex-row gap-10 lg:gap-10">
        <div class="flex-shrink-0">
          <img src="/boba-shop/images/Moshi-table.png" alt="photo of people drinking and posing"
            class="mx-0 lg:w-full object-cover">
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 gap-5">
          <img src="/boba-shop/images/moshi-drinks.png" alt="photo of people drinking and posing" class="lg:w-full object-cover" />
          <img src="/boba-shop/images/moshi-tables.png" alt="photo of people drinking and posing"
            class="lg:w-full object-cover" />
          <img src="/boba-shop/images/moshi-lounge.png" alt="photo of people drinking and posing"
            class="lg:w-full object-cover" />
          <img src="/boba-shop/images/moshi-line.png" alt="photo of people drinking and posing"
            class="lg:w-full object-cover" />
        </div>

      </div>
    </div>

  </div>
</div>
</section>


<search id="location">
<div class=" bg-[#283618]">
  <div class="mx-auto max-w-screen-xl p-4 lg:p-0 py-8 lg:py-16">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col justify-center lg:flex-row gap-11 lg:gap-20">

        <div class="leading-relaxed text-xl">

          <h2 class="text-3xl font-medium text-center font-[Cormorant_Garamond]">Location</h2>
          <br>
          <p>
            We are located at 2418 Spring Garden St, Greensboro, NC 27403, United States.
          </p>
          <br>
          <p>
            Hours: <br>
            Monday: Closed <br>
            Sunday, Tuesday - Thursday: 12:00 - 7:00 <br>
            Friday & Saturday: 12:00 - 8:00
          </p>
          <br>

        </div>
        <div class="flex-shrink-0">
          <img src="/boba-shop/images/location photo.png" alt="photo of moshi moshi" class="mx-0 lg:w-full object-cover" />
        </div>
      </div>

    </div>
  </div>
</div>
</search>




{{ end }}